* {
 	font-family: 'Fira Sans', sans-serif;
}

header {
	padding-top: 20px;
	padding-bottom: 20px;	
}

h1 {
	color: #AAA;
	font-size: 36px;
	font-weight: 400;
	text-align: center;
}

strong {
 	 color: #313131;
}

.content-wrap {
	display: flex;
}

aside {
	flex: 1 1 250px;
	max-width: 250px;
}

.review-page {
	width: 100%;
	display: flex;
}

.navbar {
	height: 20px;
	width: 70vw;
	min-width: 600px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: auto;
}

h3 {
	color: #313131;
	font-size: 24px;
}

a {
	position: relative;
	text-decoration: none;
	color: #fff;
	font-size: 15px;
}

a :hover {
	background-color: #ff3c78;
	color: #AAA;
	border-radius: 5px;
}


.anime-list {
	display: flex;
	flex-wrap: wrap;
	padding:20px;
	margin-top: 32px;
	margin: 32px -8px 0px;
}

.reviews-section {
	padding: 10px;
}

.anime-content{
	width: 250px;
	float:left;
	padding: 10px;
}

img {
	display: block;
	width: 220px;
	height: 320px;
	object-fit: cover;
	border-radius: 16px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
	padding: 5px;
}			

.anime-card {
	width: 250px;
	padding: 20px;
}
  
.review-form {
	margin-bottom: 50px;
	padding: 10px;
	background: transparent;
	
}
  
.review-form-input {
	padding: 14px 32px 14px 16px;
	border-radius: 5px;
	border: 1px solid #ff3c78;
	outline: 0;
	width: 100%;
	background-color: transparent;
	margin: auto;
	display: flex;
	max-width: 600px;
	margin-bottom: 10px;
}

.add-review-button {
	padding: 12px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	background: #ff3c78;
	color: #fff;
	text-transform: capitalize;
	max-width: 200px;
	width: 100%;
	display: flex;
	margin: auto;
}

.review-row {
	display: flex;
	justify-content: space-between;
	border: 1px solid #ff3c78;
	align-items: center;
	margin: 15px auto;
	background: transparent;
	padding: 15px;
	border-radius: 5px;
	width: 100%;
}

.icons {
	display: flex;
	align-items: center;
	font-size: 24px;
	cursor: pointer;
}

