* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

header {
	padding-top: 50px;
	padding-bottom: 50px;	
}

h1 {
  color: #AAA;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

strong {
  color: #313131;
}

.content-wrap {
	display: flex;
}

aside {
	flex: 1 1 250px;
	max-width: 250px;
	padding-right: 16px;
}

nav {
	padding-left: 16px;
	padding-right: 16px;
}

h3 {
	color: #313131;
	font-size: 24px;
	margin-bottom: 16px;
}

a{
	position: relative;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color: #a0a0a0;
	font-size: 18px;
	letter-spacing: 0.5px;
	padding: 0 10px;
}

a :hover {
	background-color: #313131;
	color: #AAA;
}

main {
	flex: 1 1 0%;
	padding: 0px 16px;
}

.main-head {
	display: flex;
	justify-content: flex-end;
}

input {
	appearance: none;
	background: none;
	outline: none;
	border: none;

	display: block;
	width: 100%;
	max-width: 400px;
	padding: 16px;
	border-radius: 999px;
	background-color: #EEE;

	transition: 0.4s;
}

::placeholder {
	color: #888;
}

:focus, :valid {
	background-color: #313131;
	color: #FFF;
}

.anime-list {
	display: flex;
	flex-wrap: wrap;
	padding:20px;
	margin-top: 32px;
	margin: 32px -8px 0px;
}

.anime-details{
    padding: 20px;
}

.anime-content{
	width: 250px;
}

figure {
	display: block;
	margin-bottom: 16px;
}

img {
	display: block;
	width: 250px;
	height: 350px;
	object-fit: cover;
	border-radius: 16px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
	padding: 10px;
	transition: 0.4s;
}			

.anime-card {
	width: 250px;
	padding: 20px;
}

